In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv("AB_testing_data.csv")

In [3]:
len(data)

35

In [3]:
data.head(10)

   Day   Conversion fraction A  Conversion fraction B
0     1                   0.15                   0.19
1     2                   0.12                   0.20
2     3                   0.18                   0.18
3     4                   0.19                   0.22
4     5                   0.17                   0.25
5     6                   0.13                   0.17
6     7                   0.14                   0.18
7     8                   0.23                   0.20
8     9                   0.11                   0.17
9    10                   0.15                   0.22

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Day                    35 non-null     int64
 1   Conversion fraction A  35 non-null     float64
 2   Conversion fraction B  35 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 968.0 bytes

In [5]:
data.describe()

            Day   Conversion fraction A  Conversion fraction B
count  35.000000              35.000000              35.000000
mean   18.000000               0.161429               0.191429
std    10.246951               0.034822               0.031729
min     1.000000               0.110000               0.110000
25%     9.500000               0.130000               0.175000
50%    18.000000               0.160000               0.190000
75%    26.500000               0.185000               0.200000
max    35.000000               0.230000               0.270000

In [11]:
samples_set1 = data['Conversion fraction A']
samples_set2 = data['Conversion fraction B']
stat, p = stats.ttest_ind(samples_set1, samples_set2,equal_var = True)

print("AB test results: ")
print("p-value : ", p)
print("")
print("")

AB test results:
p-value :  0.00034704350989135126

In [1]:
1-0.00034704350989135126

0.9996529564901087

In [2]:
1-0.05

0.95

In [ ]:
# p value < 0.05 so two versions of website have different means for conversion rate - more than 95% confidence