In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Hotel Reservations.csv")

In [3]:
data.head(10)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,9,13,Online,0,0,0,115.00,1,Canceled
6,INN00007,2,0,1,3,Meal Plan 1,0,Room_Type 1,34,2017,10,15,Online,0,0,0,107.55,1,Not_Canceled
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,12,26,Online,0,0,0,105.61,1,Not_Canceled
8,INN00009,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,2018,7,6,Offline,0,0,0,96.90,1,Not_Canceled
9,INN00010,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,2018,10,18,Online,0,0,0,133.44,3,Not_Canceled

In [4]:
data.columns

Index(['Booking_ID', 'no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_date', 'market_segment_type', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 'booking_status'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [6]:
data = data[['no_of_weekend_nights' ,'no_of_children','type_of_meal_plan','room_type_reserved','lead_time','avg_price_per_room','booking_status']]

In [7]:
data['booking_status'].value_counts()

Not_Canceled    24390
Canceled        11885
Name: booking_status, dtype: int64

In [8]:
data['no_of_children'].value_counts()

0     33577
1      1618
2      1058
3        19
9         2
10        1
Name: no_of_children, dtype: int64

In [9]:
data['type_of_meal_plan'].value_counts()

Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Meal Plan 3         5
Name: type_of_meal_plan, dtype: int64

In [10]:
data['room_type_reserved'].value_counts()

Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Room_Type 3        7
Name: room_type_reserved, dtype: int64

In [11]:
data.columns

Index(['no_of_weekend_nights', 'no_of_children', 'type_of_meal_plan',
       'room_type_reserved', 'lead_time', 'avg_price_per_room',
       'booking_status'],
      dtype='object')

In [12]:
categorical_columns = ['no_of_weekend_nights' ,'no_of_children', 'type_of_meal_plan', 'room_type_reserved']

# chi-square test

In [13]:
from scipy.stats import chi2_contingency

In [14]:

  
# defining the table
for column in categorical_columns:
        temp = pd.DataFrame(data[column].value_counts()).reset_index()
        temp.columns = [column,'frequency']
        categories = list(temp[temp['frequency']>20][column])
        data_new = data[data[column].isin(categories)]
        print(data_new[column].value_counts())
        
        table = pd.crosstab(data_new[column], data_new['booking_status'])
        print(table)
        stat, p, dof, expected = chi2_contingency(table)
        print("Chi-square test for feature: ", column)
        print("p-value : ", p)
        print("")
        print("")

0    16872
1     9995
2     9071
3      153
4      129
5       34
Name: no_of_weekend_nights, dtype: int64
booking_status        Canceled  Not_Canceled
no_of_weekend_nights
0                         5093         11779
1                         3432          6563
2                         3157          5914
3                           74            79
4                           83            46
5                           29             5
Chi-square test for feature:  no_of_weekend_nights
p-value :  1.123163658201841e-40


0    33577
1     1618
2     1058
Name: no_of_children, dtype: int64
booking_status  Canceled  Not_Canceled
no_of_children
0                  10882         22695
1                    540          1078
2                    457           601
Chi-square test for feature:  no_of_children
p-value :  1.505028838398159e-12


Meal Plan 1     27835
Not Selected     5130
Meal Plan 2      3305
Name: type_of_meal_plan, dtype: int64
booking_status     Canceled  Not_Canceled
type_of_meal_plan
Meal Plan 1            8679         19156
Meal Plan 2            1506          1799
Not Selected           1699          3431
Chi-square test for feature:  type_of_meal_plan
p-value :  4.4770662058478976e-61


Room_Type 1    28130
Room_Type 4     6057
Room_Type 6      966
Room_Type 2      692
Room_Type 5      265
Room_Type 7      158
Name: room_type_reserved, dtype: int64
booking_status      Canceled  Not_Canceled
room_type_reserved
Room_Type 1             9072         19058
Room_Type 2              228           464
Room_Type 4             2069          3988
Room_Type 5               72           193
Room_Type 6              406           560
Room_Type 7               36           122
Chi-square test for feature:  room_type_reserved
p-value :  4.431046769351626e-11

In [15]:
column = 'no_of_weekend_nights'
temp = pd.DataFrame(data[column].value_counts()).reset_index()
print(temp)

   index  no_of_weekend_nights
0      0                 16872
1      1                  9995
2      2                  9071
3      3                   153
4      4                   129
5      5                    34
6      6                    20
7      7                     1

In [16]:
temp.columns = [column,'frequency']
temp.head(10)

   no_of_weekend_nights  frequency
0                     0      16872
1                     1       9995
2                     2       9071
3                     3        153
4                     4        129
5                     5         34
6                     6         20
7                     7          1

In [17]:
#Step 1 - remove rows with 20 or less examples
categories = list(temp[temp['frequency']>20][column])
print(categories)

[0, 1, 2, 3, 4, 5]

In [18]:
data_new = data[data[column].isin(categories)]
print(data_new[column].value_counts())

0    16872
1     9995
2     9071
3      153
4      129
5       34
Name: no_of_weekend_nights, dtype: int64

In [19]:
#Step 2 - create a contigency table using crosstab
table = pd.crosstab(data_new[column], data_new['booking_status'])
print(table)

#Step 3 - Perform chi square test using chi2_contingency function
stat, p, dof, expected = chi2_contingency(table)
print("Chi-square test for feature: ", column)
print("p-value : ", p)
print("")
print("")

booking_status        Canceled  Not_Canceled
no_of_weekend_nights
0                         5093         11779
1                         3432          6563
2                         3157          5914
3                           74            79
4                           83            46
5                           29             5
Chi-square test for feature:  no_of_weekend_nights
p-value :  1.123163658201841e-40

In [20]:
# if p value < 0.05 - alternate hypothesis- atleast 95% cofidence

# t-test

In [21]:
numerical_columns = ['lead_time','avg_price_per_room']

In [22]:
data_cancelled = data[data['booking_status'] == 'Canceled']
data_cancelled[numerical_columns].describe()

          lead_time  avg_price_per_room
count  11885.000000        11885.000000
mean     139.215482          110.589966
std       98.947731           32.264394
min        0.000000            0.000000
25%       55.000000           89.270000
50%      122.000000          108.000000
75%      205.000000          126.360000
max      443.000000          540.000000

In [23]:
data_not_cancelled = data[data['booking_status'] == 'Not_Canceled']
data_not_cancelled[numerical_columns].describe()

          lead_time  avg_price_per_room
count  24390.000000        24390.000000
mean      58.927224           99.931412
std       64.028714           35.872154
min        0.000000            0.000000
25%       10.000000           77.860000
50%       39.000000           95.000000
75%       86.000000          119.100000
max      386.000000          375.500000

In [24]:
from scipy import stats
  
# defining the table
for column in numerical_columns:
        samples_set1 = data_cancelled[column]
        samples_set2 = data_not_cancelled[column]
        stat, p = stats.ttest_ind(samples_set1, samples_set2)
    
        print("ttest for feature: ", column)
        print("p-value : ", p)
        print("")
        print("")

ttest for feature:  lead_time
p-value :  0.0


ttest for feature:  avg_price_per_room
p-value :  5.2303189247282316e-164

In [ ]:
#lead_time - 0.4 -o/p

In [ ]:
#lead_time , price , type plan ,

In [25]:
from scipy import stats

In [26]:
column = 'lead_time'

In [27]:
# Step 1 - create two populations for the numerical feature
samples_set1 = data_cancelled[column] # population1 -for cancelled bookings
samples_set2 = data_not_cancelled[column] # population2 -for not cancelled bookings

In [28]:
samples_set1

2          1
3        211
4         48
5        346
12        30
        ...
36267     49
36268    166
36269      0
36271    228
36273     63
Name: lead_time, Length: 11885, dtype: int64

In [29]:
# Step 2 - pass the populations to ttest function
stat, p = stats.ttest_ind(samples_set1, samples_set2)

print("ttest for feature: ", column)
print("p-value : ", p)
print("")
print("")

ttest for feature:  lead_time
p-value :  0.0

In [30]:
# p value <0.05 - lead time is useful feature for prediction

In [31]:
# chi-square test
#checking relation beween two categorical columns 
# categorical column like gender and hotel booking status

# welch t-test
#checking relation beween a numerical column and a categorical column
# checking relation between lead time and hotel booking status

In [32]:
# feature A - p >0.05 -> this feature might not be useful just on its own
# but it can still be useful when combined with other features