In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("Hotel Reservations.csv")

In [5]:
data.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [7]:
numerical_columns = ['lead_time', 'avg_price_per_room']

In [ ]:
data_cancelled = data.loc[data.booking_status == 'Canceled', numerical_columns].reset_index(drop=True)
data_not_cancelled = data.loc[data.booking_status == 'Not_Canceled', numerical_columns].reset_index(drop=True)

### Welch t-test

In [18]:
from scipy import stats

In [25]:
column = 'avg_price_per_room'

In [35]:
for column in numerical_columns:
    print(f"Performing t-test for variable: {column}")
    print(f"Null-Hyptothesis - {column} for customers who canceled the booking has equal mean as the customers who have not cancelling the booking")
    sample_1 = data_cancelled[column]
    #print("Sample 1", sample_1)
    sample_2 = data_not_cancelled[column]
    #print("Sample 2", sample_2)
    stat, p = stats.ttest_ind(sample_1, sample_2)
    print(f"t-statisitc: {stat}")
    print(f"p-value: {p:.10f}")
    print(f"{'H0-rejected' if p < 0.05 else 'H0-not rejected'}\n\n")

Performing t-test for variable: lead_time
Null-Hyptothesis - lead_time for customers who canceled the booking has equal mean as the customers who have not cancelling the booking
t-statisitc: 92.9347245970639
p-value: 0.0000000000
H0-rejected


Performing t-test for variable: avg_price_per_room
Null-Hyptothesis - avg_price_per_room for customers who canceled the booking has equal mean as the customers who have not cancelling the booking
t-statisitc: 27.433239020374042
p-value: 0.0000000000
H0-rejected